:root {
  --main-color: #ff9800;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.settings-box {
  position: fixed;
  left: -300px;
  top: 0;
  background-color: #fff;
  width: 300px;
  z-index: 10000;
  height: 100vh;
  transition: 0.3s;
}

.settings-box.open {
  left: 0;
}

.settings-box .toggel-setting {
  position: absolute;
  cursor: pointer;
  top: 100px;
  background-color: #fff;
  text-align: center;
  right: -30px;
}

.settings-box .toggel-setting i {
  width: 30px;
  padding: 8px 0;
}

.settings-box .option-box {
  padding: 10px;
  text-align: center;
  background-color: #eee;
  margin: 10px;
  border-radius: 6px;
}

.settings-box .option-box h4 {
  margin: 0;
  color: #666;
}

.settings-box .option-box .colors-list {
  list-style: none;
  text-align: center;
  padding: 0;
}

.settings-box .option-box .colors-list li {
  width: 20px;
  height: 20px;
  background-color: #333;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
}

.settings-box .option-box .colors-list li {
  width: 25px;
  height: 25px;
  background-color: #333;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  border: 3px solid #eee;
  position: relative;
}

.settings-box .option-box .colors-list li.active {
  border-color: white;
}

.settings-box .option-box .colors-list li.active::after {
  content: "";
  width: 7px;
  height: 7px;
  background-color: var(--main-color);
  bottom: -15px;
  transform: translateX(-50%);
  border-radius: 50%;
  z-index: 10001;
  position: absolute;
}

.settings-box .option-box .colors-list li:first-child {
  background-color: #ff9800;
}

.settings-box .option-box .colors-list li:nth-child(2) {
  background-color: #e91e63;
}

.settings-box .option-box .colors-list li:nth-child(3) {
  background-color: #009688;
}

.settings-box .option-box .colors-list li:nth-child(4) {
  background-color: #03a9f4;
}

.settings-box .option-box .colors-list li:nth-child(5) {
  background-color: #4caf50;
}

.settings-box .yes,
.settings-box .no {
  width: 50px;
  background-color: var(--main-color);
  color: white;
  margin-top: 20px;
  display: inline-block;
  font-size: 14px;
  padding: 4px 10px;
  font-weight: bold;
  border-radius: 4px;
  opacity: 0.5;
  cursor: pointer;
}

.settings-box .option-box span.active {
  opacity: 1;
}

.settings-box .reset-option {
  background-color: var(--main-color);
  width: 187px;
  border: none;
  margin: 10px auto;
  display: block;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.nav-bullets {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  z-index: 10000;
}

.nav-bullets .bullet {
  width: 20px;
  height: 20px;
  border: 3px solid var(--main-color);
  margin: 20px auto;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.nav-bullets .bullet:hover .tooltip {
  display: block;
}

.nav-bullets .bullet .tooltip {
  background-color: var(--main-color);
  width: 120px;
  color: white;
  padding: 8px 10px;
  position: absolute;
  right: 32px;
  top: -10px;
  cursor: default;
  pointer-events: none;
  display: none;
  text-align: center;
}

.nav-bullets .bullet .tooltip::before {
  content: "";
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent transparent var(--main-color);
  height: 0;
  width: 0;
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
}

.landing-page {
  min-height: 100vh;
  background-image: url(../imgs/01.jpg);
  background-size: cover;
  position: relative;
}

.landing-page .overlay {
  background-color: rgb(0 0 0 / 60%);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

.landing-page .container {
  position: relative;
  z-index: 100000;
}

.landing-page .header-area {
  position: relative;
  z-index: 2;
  color: white;
  display: flex;
  padding: 10px;
}

.landing-page .header-area .logo {
  width: 300px;
  padding: 15px;
  font-weight: bold;
}

.landing-page .links-container {
  width: 100%;
  text-align: right;
}

.landing-page .header-area .links {
  list-style: none;
  width: 100%;
  padding-left: 0;
  font-size: 15px;
}

.landing-page .header-area .links li {
  display: inline-block;
  margin-left: 10px;
}

.landing-page .header-area .links li a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.landing-page .header-area .links li a:hover,
.landing-page .header-area .links li a.active {
  color: var(--main-color);
}

.header-area .toggle-menu {
  background: none;
  display: none;
  border: none;
  width: 40px;
  cursor: pointer;
  margin-top: 15px;
  position: relative;
}

.header-area .toggle-menu.menu-active::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  bottom: -15px;
  left: 10px;
}

.header-area .toggle-menu:focus {
  outline: none;
}

.header-area .toggle-menu span {
  display: block;
  background-color: white;
  height: 4px;
  margin-bottom: 4px;
}

@media (max-width: 991px) {
  .landing-page .header-area .links {
    display: none;
  }

  .header-area .links.open {
    background-color: white;
    padding: 10px;
    display: block;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    text-align: left;
    border-radius: 4px;
  }

  .header-area .links.open li {
    display: block;
    margin: 10px;
  }

  .header-area .links.open li a {
    color: var(--main-color);
    font-weight: bold;
  }

  .header-area .toggle-menu {
    display: inline-block;
  }
}

.introduction-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #fff;
  text-align: center;
  width: 95%;
}

.introduction-text h1 {
  font-size: 34px;
  margin: 0 0 5px;
}

@media (max-width: 575px) {
  .introduction-text h1 {
    font-size: 26px;
  }
}

.introduction-text h1 span {
  color: var(--main-color);
}

.introduction-text p {
  margin: 0;
  line-height: 1.6;
  font-size: 20px;
}

.img-list ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.img-list ul li {
  background-color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 6px;
}

.img-list ul li.active {
  background-color: var(--main-color);
  color: white;
}

.about-us {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
}

@media (max-width: 767px) {
  .about-us {
    display: block;
    text-align: center;
  }
}

.about-us .image-box {
  text-align: center;
  flex: 1;
}

.about-us .image-box img {
  width: 250px;
}

.about-us .info-box {
  flex: 1;
  padding: 30px;
}

.about-us .info-box h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 10px;
}

.about-us .info-box p {
  line-height: 1.8;
  color: #767676;
  margin: 0;
}

.skills {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
}

.skills h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 50px;
  text-align: center;
}

.skills .skill-box {
  background-color: #fff;
  display: flex;
  padding: 15px;
  border-radius: 6px;
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .skills .skill-box {
    display: block;
  }
}

.skills .skill-box .name {
  font-weight: bold;
  width: 140px;
  text-align: center;
  line-height: 30px;
}

@media (max-width: 767px) {
  .skills .skill-box .name {
    width: 100%;
    margin-bottom: 10px;
  }
}

.skills .skill-box .progress {
  height: 30px;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 6px;
  position: relative;
  text-align: right;
  overflow: hidden;
}

.skills .skill-box .progress span {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  transition: all 0.3s;
  height: 100%;
  background-color: var(--main-color);
}

.gallery {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: white;
  text-align: center;
}

.gallery h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 50px;
  text-align: center;
}

.gallery .images-box {
  text-align: center;
}

.gallery .images-box img {
  width: 200px;
  padding: 3px;
  background-color: #f6f6f6;
  border: 1px solid #ccc;
  margin: 15px;
  cursor: pointer;
}

.popup-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10005;
}

.popup-box {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 10005;
}

.popup-box h3 {
  font-weight: bold;
  text-align: center;
  margin: 0 0 20px;
  color: var(--main-color);
}

.popup-box img {
  max-width: 100%;
}

.close-btn {
  position: absolute;
  top: -15px;
  right: -15px;
  background-color: var(--main-color);
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  font-family: Arial, Tahoma;
}

.timeline {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
}

.timeline .timeline-content {
  position: relative;
  overflow: hidden;
}

.timeline .timeline-content::before {
  content: "";
  width: 2px;
  height: 100%;
  background-color: var(--main-color);
  position: absolute;
  left: 50%;
  margin: -1px;
  top: 0;
}

.timeline .timeline-content .year {
  margin: 20px auto;
  width: 50px;
  background-color: var(--main-color);
  position: relative;
  z-index: 2;
  text-align: center;
  border-radius: 4px;
  color: white;
  padding: 2px 5px;
  font-weight: bold;
}

.timeline .timeline-content .left,
.timeline .timeline-content .right {
  width: calc(50% - 25px);
  margin-bottom: 40px;
  position: relative;
}

@media (max-width: 767px) {
  .timeline .timeline-content .left,
  .timeline .timeline-content .right {
    width: 100%;
    margin-bottom: 20px;
  }
  .timeline .timeline-content .left:before,
  .timeline .timeline-content .right:before {
    display: none;
  }
  .timeline .timeline-content .left .content::before,
  .timeline .timeline-content .right .content::before {
    display: none;
  }
}

.timeline .timeline-content .left {
  float: left;
}

.timeline .timeline-content .left::before {
  right: -35px;
}

.timeline .timeline-content .right {
  float: right;
}

.timeline .timeline-content .right::before {
  left: -35px;
}

.timeline .timeline-content .left::before,
.timeline .timeline-content .right::before {
  content: "";
  width: 14px;
  height: 14px;
  background-color: white;
  border: 3px solid var(--main-color);
  position: absolute;
  border-radius: 50%;
  top: 20px;
}

.timeline .timeline-content .content {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
}

.timeline .timeline-content h3 {
  font-weight: bold;
  color: var(--main-color);
  margin: 0 0 10px;
}

.timeline .timeline-content p {
  color: #666;
  margin: 0;
  line-height: 1.6;
}

.clearfix {
  clear: both;
}

.timeline .timeline-content .left .content::before {
  content: "";
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent transparent #fff;
  height: 0;
  width: 0;
  position: absolute;
  right: -20px;
}

.timeline .timeline-content .right .content::before {
  content: "";
  border-style: solid;
  border-width: 10px;
  border-color: transparent #fff transparent transparent;
  height: 0;
  width: 0;
  position: absolute;
  left: -20px;
}

.features {
  padding-top: 80px;
  padding-bottom: 80px;
}

.features h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 60px;
  text-align: center;
}

.features .feat-box {
  width: calc(100% / 3);
  float: left;
  text-align: center;
  margin-bottom: 40px;
}

@media (max-width: 991px) {
  .features .feat-box {
    width: calc(100% / 2);
  }
}

@media (max-width: 575px) {
  .features .feat-box {
    width: 100%;
  }
}

.features .feat-box img {
  width: 100px;
}

.features .feat-box h4 {
  font-size: 22px;
  margin: 15px 0 40px;
  position: relative;
}

.features .feat-box h4::before {
  content: "";
  width: 40px;
  height: 4px;
  background-color: var(--main-color);
  position: absolute;
  left: 50%;
  margin-left: -20px;
  bottom: -20px;
}

.features .feat-box p {
  width: 80%;
  margin: 0 auto;
  line-height: 1.7;
  color: #777;
}

.testimonials {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
}

.testimonials::before {
  content: "";
  content: "";
  width: 50%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--main-color);
  height: 100%;
}

.testimonials::after {
  content: "";
  width: 50%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #333;
  height: 100%;
}

.testimonials h2 {
  font-weight: bold;
  font-size: 30px;
  color: white;
  margin: 0 0 30px;
  text-align: left;
  z-index: 2;
  position: relative;
}

.testimonials .ts-box {
  z-index: 2;
  position: relative;
  width: calc(98% / 3);
  float: left;
  background-color: white;
  border-radius: 6px;
  padding: 20px;
}

@media (max-width: 767px) {
  .testimonials .ts-box {
    width: 100%;
    float: none;
    margin-bottom: 15px;
  }
}

.testimonials .ts-box:not(:last-of-type) {
  margin-right: 1%;
}

.testimonials .ts-box > p {
  margin: 0 0 20px;
  line-height: 1.5;
  font-size: 18px;
  color: #777;
  font-style: italic;
}

.testimonials .ts-box .user-info {
  overflow: hidden;
}

@media (max-width: 991px) {
  .testimonials .ts-box .user-info {
    text-align: center;
    overflow: visible;
  }
}

.testimonials .ts-box .user-info img {
  float: left;
  border-radius: 50%;
  margin-right: 20px;
}

@media (max-width: 991px) {
  .testimonials .ts-box .user-info img {
    float: none;
    margin-right: 0;
  }
}

.testimonials .ts-box .user-info h4 {
  margin: 15px 0 10px;
}

.testimonials .ts-box .user-info p {
  color: #7777;
  margin: 0;
}

.contact {
  min-height: 600px;
  background-image: url("../imgs/contact.png");
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}

.contact .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}

.contact .container {
  z-index: 2;
  position: relative;
}

.contact h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 60px;
  text-align: center;
}

.contact form {
  overflow: hidden;
  max-width: 800px;
  padding: 2px;
  margin: auto;
}

.contact form .left {
  float: left;
  width: 49%;
}

.contact form .right {
  float: right;
  width: 49%;
}

@media (max-width: 767px) {
  .contact form .left,
  .contact form .right {
    float: none;
    width: 100%;
  }
}

.contact form input:not([type="submit"]),
.contact form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  background-color: rgba(218, 218, 218, 0.19);
}

.contact form input:not([type="submit"]):focus,
.contact form textarea:focus {
  outline: 1px solid var(--main-color);
}

.content form input {
  height: 40px;
}

.contact form textarea {
  height: 150px;
}

.contact form input[type="submit"] {
  padding: 10px;
  width: 100%;
  border-color: transparent;
  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
  border-radius: 6px;
}

.footer {
  background-color: #333;
  color: #eee;
  padding: 15px;
  text-align: center;
  font-weight: bold;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
